.App {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #c2c094;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown {
  width: 500px;
  min-height: 310px;
  margin: 20px auto;
  background: #fff;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

.countdown-header {
  margin-top: 25px;
}

.countdown-body {
  position: relative;
}

.countdown-footer {
  margin-top: 30px;
}

/*********** countdown-header *******************/

.form-control {
  margin-right: 10px;
  width: 90px;
}

.form-error {
  color: #da4f46;
  height: 20px;
  padding-top: 8px;
  font-size: 12px;
}

.btn-form-start,
.btn-form-reset {
  /* cursor: pointer; */
  border: none;
  color: white;
  font-weight: 700;
  transition: 0.3s;
  letter-spacing: 1px;
  background: linear-gradient(to top right, #41b782, #86d169);
}

.btn-form-reset:hover {
  opacity: 0.8;
}

.count {
  margin-right: 10px;
}

/**********  Countdown-body ****************/
.countdown-body {
  position: relative;
  width: 100%;
}

.countdown-message-container {
  width: 100%;
  position: absolute;
  top: -32px;
}

.countdown-message {
  font-size: 13px;
}

.countdown-message .red {
  color: #da4f46;
}

.countdown-message .blinking {
  animation: blinker 1s linear infinite;
}

.countdown-total {
  font-size: 90px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.countdown-stop-button .btn {
  color: white;
  font-weight: 700;
  transition: 0.3s;
  border: none;
  background: linear-gradient(to top right, #0c2b4d, #556a82);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: absolute;
  right: 30px;
  top: 20px;
}

.countdown-stop-button .btn i {
  font-size: 13px;
  margin: 5px 0 0 0;
}

.countdown-stop-button .btn i.fa-play {
  margin-left: 1px;
}

/*************** countdown-footer ************/
.btn {
  font-weight: 700;
  transition: 0.3s;
  border: none;
  margin: 0 4px;
  border: 1px solid;
}

.btn .active {
  /* color: white; */
  font-weight: 700;
  transition: 0.3s;
  background: linear-gradient(to top right, #0c2b4d, #556a82);
}